<header>
  <h1>Welcome to "{{ title }}"</h1>
</header>

<div class="container">
  <p>
    Eat my big Carrots 🥕.
  </p>
  <p>
    And my Chicken Wings🍗.
  </p>

  <div class="message">
    <p>
    And Walk My Pig While He Sings🐖.
    </p>
  </div>
  <p>
    And i love Macroni, Chilling with Cheze puffs🧀.
  </p>
<p>
  And I Let Chesse Pizza Drip🍕.
</p>
</div>

<router-outlet></router-outlet>
