/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pixelify Sans', sans-serif;
  // background-color: #ffc400;
  background-image: url("/assets/pig.webp");
  margin: 0;
  padding: 0;
}

/* You can add global styles to this file, and also import other style files */
